
@{
    ViewData["Title"] = "DistPeru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TOP 3 Distribuidores alrededor del Perú</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Nombre Distribuidor</th>
            <th>Razón Social</th>
            <th>Teléfono</th>
            <th>Año de inicio de operación</th>
            <th>Correo de contacto</th>
        </tr>
    </thead>

    <tbody>

            <tr>
                <th width="60%">G.W. Yichang E Cia</th>
                <th width="50%">G.W. Yichang E Cia S.A.</th>
                <th width="40%">6112888</th>
                <th width="30%">1929</th>
                <th width="20%">yichang@yichang.com.pe</th>
            </tr>
        <tr>
            <th width="60%">PeruFarma</th>
            <th width="50%">PeruFarma S.A.</th>
            <th width="40%">711-7000</th>
            <th width="30%">1971</th>
            <th width="20%">legal@perufarma.com.pe</th>
        </tr>
        <tr>
            <th width="60%">Quimica Suiza</th>
            <th width="50%">Quimica Suiza S.AC.</th>
            <th width="40%">511 2114444</th>
            <th width="30%">1939</th>
            <th width="20%">No Correo</th>
        </tr>
    </tbody>
</table>

